p{
    /* font size and weight */
    font-size: 20 px;
    font-weight: bold;
}
/* maniupulation of image. img:hover makes my image hidden when you hover */

/* formatting picture of quartnine (from w3 schools example https://www.w3schools.com/css/css3_images.asp) */
#quarpic {
    width: 350px;
    height: 500px;
    border-radius: 4px;
    border: 3px solid rgb(255, 105, 180);
    padding: 5px;
    /* Bottom margin to create space between rows */
    margin-bottom: 5%;
    cursor: pointer;
}

/* Makes body have a background grey . specific tag*/
body{
    background-color:lightgray;
}

/* visbility of elements  */
div.showHidden p.defaultHidden {
    visibility: hidden;
    text-align: center;
}
div.showHidden:hover p.defaultHidden {
    visibility: visible;
    text-align: center;
}

/* Position and alignment of elements, photo*/
#profile{
    /*margin-left: 327px;*/
    width: 250px;
}

/* font size and weight */
#shrug{
    font-size: 300px;
    font-weight: 1000px;
}
